@media (max-width: 1100px) {
    .about__content {
        max-width: 600px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 160px;
    }
}

@media (max-width: 980px) {
    .slider__img {
        right: 70px;
    }
    .slick-next {
        right: 15px;
    }
    .slider__next {
        right: 100px;
    }
    .slider__prev {
        right: 15px;
    }
    .slick-prev {
        right: 77px;
    }
    .footer {
        padding: 45px 0 40px;
    }
    .footer__address address {
        margin-right: 50px;
    }
    .footer__copy {
        padding-left: 15px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .header-img__inner {
        padding: 30px 40px;
    }
    .header-img__inner h1 {
        margin-bottom: 20px;
        font-size: calc(38px + (64 - 38) * ((100vw - 320px) / (900 - 320)));
        line-height: calc(45px + (75 - 45) * ((100vw - 320px) / (900 - 320)));
    }
    .title {
        font-size: calc(24px + (40 - 24) * ((100vw - 320px) / (900 - 320)));
        line-height: calc(28px + (49 - 28) * ((100vw - 320px) / (900 - 320)));
        padding-top: calc(17px + (40 - 17) * ((100vw - 320px) / (900 - 320)));
    }
}

@media (max-width: 870px) {
    .slider-arrows {
        display: none;
    }
    .slider__img {
        right: -60px;
    }
    .slick-next {
        top: auto;
        bottom: 100px;
    }
    .slick-prev {
        right: 100px;
        bottom: 100px;
    }
}

@media (max-width: 830px) {
    .burger__menu {
        display: block;
    }
    .active.burger__item {
        display: none;
    }
    .burger__menu.active::before {
        transform: rotate(45deg);
        top: 8px;
    }
    .burger__menu.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-nav {
        width: 70%;
        position: absolute;
        z-index: 5;
        top: -200%;
        left: 30%;
        transition: all .8s;
    }
    .header-nav.active {
        top: 146px;
        transition: all .8s;
    }
    .header-nav__list {
        flex-direction: column;
        background-color: #2F343A;
        border-bottom: 3px solid #C8A35F;
    }
    .header-nav__list li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #393F47;
    }
    .service__box {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 710px) {
    .about__inner {
        flex-direction: column;
    }
    .about__info {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .about__content {
        grid-template-columns: repeat(3, 1fr);
    }
    .slider,
    .services,
    .about {
        margin-bottom: 80px;
    }
    .about {
        padding: 40px 0;
    }
    .slider__inner {
        padding: 50px 0;
    }
    .slider__text {
        margin-bottom: 20px;
    }
    .slider__item {
        height: auto;
    }
    .slick-slide img {
        position: static;
        margin-bottom: 50px;
    }
    .slider__item-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .slick-prev {
        right: auto;
        bottom: 20px;
        left: 20px;
    }
    .slick-next {
        top: auto;
        bottom: 20px;
        right: 20px;
    }
    .btn {
        padding: 10px 30px;
        background-color: #C8A35F;
        text-transform: uppercase;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    .logo-footer {
        width: 100%;
    }
}

@media (max-width: 630px) {
    .service__box {
        grid-template-columns: repeat(2, 1fr);
    }
    .about__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 560px) {
    body {
        font-size: 14px;
        line-height: 18px;
    }
    .header-img__inner {
        padding: 18px 26px;
    }
    h1 {
        margin-bottom: 10px;
    }
    iframe {
        height: 350px;
    }
}

@media (max-width: 500px) {
    .header-nav {
        width: 100%;
        left: 0;
    }
    .footer__address {
        margin: 10px 0;
    }
    .footer__address address {
        margin-bottom: 0;
    }
}

@media (max-width: 440px) {
    .header-menu {
        padding: 17px 0;
    }
    .header-top {
        padding: 10px 0;
    }
    .header-nav.active {
        top: 114px;
    }
    .header-map {
        display: none;
    }
    .header-img__inner h1 {
        margin-bottom: 5px;
    }
}

@media (max-width: 430px) {
    .slider {
        margin-top: -32px;
    }
    .slick-slide img {
        width: 100%;
    }
    .service__box {
        grid-template-columns: repeat(1, 1fr);
    }
    .service-item:nth-child(2n) {
        display: none;
    }
    .about__content {
        grid-template-columns: repeat(1, 1fr);
    }
    iframe {
        height: 300px;
    }
}

@media (max-width: 360px) {
    .header-top__lang {
        width: 60px;
    }
    .header-top__lang p:nth-child(3) {
        display: none;
    }
    .service__box {
        grid-auto-rows: 140px;
    }
}